<div id="frontPageBannerWrap">
	<div class="container">
	</div>
</div>

<div id="groupOpportunitiesWrap">
	<div class="container">
		<h1>Current &#38; Upcoming User Group Opportunities.</h1>
		
	</div>
</div>