<div id="frontPageBannerWrap">
	<div class="container">
	</div>
</div>

<div id="surveyInfo">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h1 class="center">Group Detail Information</h1>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h2 class="surveyDescription"><%= @survey.description %></h2>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p>If you’re interested, fill out the form below to be entered into our database for this user group. </p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p>Are you able to come to our location (432894 S. Sunny Side Drive, Los Angeles, Ca 90429) for the entirety of the user group, less forfeit getting paid for your time?</p>
			</div>
		</div>
	</div>
</div>